<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>RunMate</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>watch-icon-notification-38mm@2x.png</string>
        <string>watch-icon-notification-42mm@2x.png</string>
        <string>watch-icon-settings@2x.png</string>
        <string>watch-icon-settings@3x.png</string>
        <string>watch-icon-app-launcher@2x.png</string>
        <string>watch-icon-short-look-38mm@2x.png</string>
        <string>watch-icon-short-look-42mm@2x.png</string>
        <string>watch-icon-marketing.png</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>NSHealthShareUsageDescription</key>
    <string>러닝 중 심박수, 거리, 칼로리, 걸음 수를 실시간으로 측정하고 러닝 기록을 저장하기 위해 건강 데이터를 사용합니다.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Apple Watch 러닝 운동 세션과 운동 데이터를 건강 앱에 기록하기 위해 건강 데이터를 사용합니다.</string>
    <key>WKApplication</key>
    <true/>
    <key>WKBackgroundModes</key>
    <array>
        <string>workout-processing</string>
    </array>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.myrunningmate.run</string>
</dict>
</plist>
