<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>RunMate</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFiles</key>
    <array>
        <string>AppIcon24x24@2x.png</string>
        <string>AppIcon27.5x27.5@2x.png</string>
        <string>AppIcon29x29@2x.png</string>
        <string>AppIcon29x29@3x.png</string>
        <string>AppIcon40x40@2x.png</string>
        <string>AppIcon44x44@2x.png</string>
        <string>AppIcon50x50@2x.png</string>
        <string>AppIcon86x86@2x.png</string>
        <string>AppIcon98x98@2x.png</string>
        <string>AppIcon108x108@2x.png</string>
        <string>watch-icon-marketing.png</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon24x24@2x.png</string>
                <string>AppIcon27.5x27.5@2x.png</string>
                <string>AppIcon29x29@2x.png</string>
                <string>AppIcon29x29@3x.png</string>
                <string>AppIcon40x40@2x.png</string>
                <string>AppIcon44x44@2x.png</string>
                <string>AppIcon50x50@2x.png</string>
                <string>AppIcon86x86@2x.png</string>
                <string>AppIcon98x98@2x.png</string>
                <string>AppIcon108x108@2x.png</string>
                <string>watch-icon-marketing.png</string>
            </array>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
        </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>NSHealthShareUsageDescription</key>
    <string>러닝 중 심박수, 거리, 칼로리, 걸음 수를 실시간으로 측정하고 러닝 기록을 저장하기 위해 건강 데이터를 사용합니다.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Apple Watch 러닝 운동 세션과 운동 데이터를 건강 앱에 기록하기 위해 건강 데이터를 사용합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Apple Watch만으로 러닝할 때 거리와 경로를 측정하기 위해 위치 정보를 사용합니다.</string>
    <key>WKApplication</key>
    <true/>
    <key>WKBackgroundModes</key>
    <array>
        <string>workout-processing</string>
    </array>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.myrunningmate.run</string>
</dict>
</plist>
